@page
@model BadAssDogTreats_Website.Pages.BackEnd.ToDos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="btn-back">
    <a asp-page="Index">
        <img src="~/Images/back_button_img.png" width="25" height="25" />
    </a>
</div>

<h1>Task Details</h1>

<div>
    <h4>ToDo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Completed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.DueDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDo?.Id">Edit</a>
</div>
