@page
@model BadAssDogTreats_Website.Pages.BackEnd.ToDos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Backend.css"/>

<h1>ToDo</h1>

<p>
    <a class="button" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
